/* Styling the tabs(activities and buisness analytics) */
.react-tabs__tab--selected {
  background-color: rgb(108, 108, 232);
  color: white; /* You can set the text color to white or any other color for better contrast */
}

.react-tabs {
  display: flex;
  flex-direction: column;
}
.react-tabs__tab-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.custom-heading {
  width: 100%;
  background-color: rgb(216 216 232);
  padding: 8px 0px;
  padding-top: 60px;
  text-align: left;
  margin-right: 0px !important;
  padding-right: 100px !important;
}

.h3 {
  padding-left: 130px;
}
/* css to define small screen (shift analytics text to left in heading) */
@media (max-width: 575px) {
  .h3 {
    padding-left: 20px !important;
  }
  .custom-container {
    margin-left: -30px !important;
    width: 850px;
  }
  .custom-row {
    margin-left: -30px !important;
  }
}

@media (min-width: 555px) {
  .custom-row {
    margin-left: 80px !important;
  }
  .custom-container {
    margin-left: 35px !important;
    width: 95% !important;
  }
}

@media (max-width: 577px) {
  .custom-heading {
    width: 100vh;
    left: 0;
  }
}

/* @media (max-width: 176px) {
  .react-tabs,
  .react-tabs__tab-list {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
  }
} */
